@import "helpers";

@keyframes rotate {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(359deg);
  }
}

.animation {
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
  position: absolute;
  top: 50%;
}

.bikeContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.wheel {
  composes: animation;
  fill: rgba($color-dark, 0.1);
  left: -15vw;
  // display: none;
}

.cog {
  fill: $color-dark;
}

.sprocket {
  composes: animation;
  composes: cog;
  left: -15vw;
}

.chainRing {
  composes: animation;
  composes: cog;
  left: 15vw;
}
