@import "helpers";

.container {
  $offset: 0;
  position: fixed;
  top: $offset;
  left: $offset;
  right: $offset;
  bottom: $offset;
  overflow: hidden;
  color: $color-dark;
  display: flex;
  flex-direction: column-reverse;
}

.pause {
  composes: container;

  * {
    animation-play-state: paused;
  }
}

.column {
  flex: 1;
  padding: 2rem;
  position: relative;
  z-index: 1;

  + .column {
    z-index: 0;
  }
}

.controls {
  composes: column;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
}
