@import "helpers";

.controls {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: $gray-light;
  color: $gray-dark;
}

.pause {
  composes: container;

  * {
    animation-play-state: paused;
  }
}
