@import "helpers";

.wrapper {
  background-image: radial-gradient($background 50%, darken($background, 10%));
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: $foreground;
}

.controls {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 2;
}

.spacer {
  height: 1rem;
}
