@import "helpers";

.scene {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 2;
}

.horizon {
  $offset: -99999px;
  position: fixed;
  left: $offset;
  right: $offset;
  bottom: $offset;
  border-top: 1px solid $accent;
  z-index: 1;
  transform-origin: top center;
  box-shadow: 0 0 100px rgba($accent, 0.2);
}
