@font-face {
  font-family: "tofino";
  src: url("/assets/fonts/tofino/tofino_regular-webfont.woff2") format("woff2"),
       url("/assets/fonts/tofino/tofino_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tofino";
  src: url("/assets/fonts/tofino/tofino_thin-webfont.woff2") format("woff2"),
       url("/assets/fonts/tofino/tofino_thin-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "tofino";
  src: url("/assets/fonts/tofino/tofino_bold-webfont.woff2") format("woff2"),
       url("/assets/fonts/tofino/tofino_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "tofino", "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1.5;
}

a {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
