@import "helpers";

.menubar {
  border-bottom: 2px solid $color-foreground;
  line-height: 2rem;
  padding: 0 1rem;
  position: relative;
  display: flex;
}

.notification {
  flex: 1;
  text-align: right;
}

.budget {
  flex: 1;
}
